# IntelliJ Idea
.idea/
src/main/main.iml
src/test/test.iml


# SBT
target/
project/target/
project/project/

# ILP
src/main/scala/ilp/
src/test/scala/ilp/


# BiMap
src/main/scala/BiMap.scala
src/main/scala/HashBiMap.scala
src/test/scala/HashBiMapSpec.scala

# tmp
*~

